@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/*own tailwind classes go here */
@layer components {
  .bg-image {
    @apply bg-[url('/images/bg-dots.svg')] bg-no-repeat bg-contain bg-center;
  }

  .error::after {
    @apply absolute right-4 bottom-14 block content-[""] bg-[url('/images/icon-error.svg')] bg-contain w-[20px] h-[20px];
  }
}

/* Accordion */

.collapse-arrow .collapse-title:after {
  content: url("/images/icon-arrow.svg");
  width: 0;
  margin-right: 18px;
  color: white;
  transform: rotate(0deg);
  top: 25%;
}

.collapse-arrow:not(.collapse-close)
  input[type="radio"]:checked
  ~ .collapse-title::after {
  transform: translateY(0%) rotate(180deg);
  filter: brightness(0) saturate(100%) invert(61%) sepia(53%) saturate(5064%)
    hue-rotate(323deg) brightness(96%) contrast(102%);
  margin-right: 0;
  top: 50%;
}

.footer-link:hover {
  filter: brightness(0) saturate(100%) invert(61%) sepia(53%) saturate(5064%)
    hue-rotate(323deg) brightness(96%) contrast(102%);
}

* {
  box-sizing: border-box;
}

a {
  cursor: pointer;
  transition: 0.1s;
}

body {
  min-height: 100vh;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
}

.attribution {
  font-size: 12px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
