@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/*own tailwind classes go here */
@layer components {
  .classExample {
    @apply py-1;
  }
}

:root {
}
/*Own classes*/

.color-invert {
  filter: brightness(0) saturate(100%) invert(95%) sepia(95%) saturate(0%)
    hue-rotate(109deg) brightness(106%) contrast(105%);
}

.brd-rad-l{
  border-bottom-left-radius: 6rem;
}

* {
  box-sizing: border-box;
}

a {
  cursor: pointer;
}

body {
  min-height: 100vh;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
}

.attribution {
  font-size: 12px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* DESKTOP DESIGN */
@media only screen and (min-width: 800px) {
}
